name: Github-ETL Build and Deployment

on:
  push:
    branches:
      - main
    tags:
      - release-20[0-9][0-9][01][0-9][0-3][0-9].[0-9]  # e.g. release-20231204.2

jobs:
  build:
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      packages: write
    uses: mozilla-it/deploy-actions/.github/workflows/build-and-push.yml@main
    with:
      image_name: mozilla-conduit/github-etl
      gar_name: lando-prod
      project_id: moz-fx-lando-prod
      should_tag_ghcr: true
      prebuild_script: ""
