name: Tests and Linting

on:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.14.2"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -e ".[dev]"
      - name: Run all tests
        run: pytest

  integration-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run integration test with docker compose
      run: |
        docker compose up --build --abort-on-container-exit --exit-code-from github-etl
    - name: Cleanup
      if: always()
      run: docker compose down -v
